<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - Lechero</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <a href= "{{ url_for('home') }}"> <img src="{{ url_for('static', filename='css/logo.jpeg') }}" alt="Lechero Logo" ></a>
    
        <nav>
            <ul>
                <li><a href="{{ url_for('login') }}">Login</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <h2 style="margin-left: 50px;">Register</h2>
        <form method="post" action ="">
            {{ form.hidden_tag() }}
            {{ form.firstname }}
            {{ form.lastname }}
            {{ form.email }}
            {{ form.phoneno }}
            {{ form.password }}
            {{ form.submit }}
        </form>
    </div>
</body>
</html>
