<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Lechero</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="https://kit.fontawesome.com/2bab4cccaa.js" crossorigin="anonymous"></script>

</head>
<body>
    
    <header>
        <a href= "{{ url_for('home') }}"> <img src="{{ url_for('static', filename='css/logo.jpeg') }}" alt="Lechero Logo" ></a>
        
        <nav>
            <ul>
                <li><a href= "{{ url_for('cart') }}"> <i class="fa fa-shopping-cart" style="font-size:20px"></i></a></li>
                <li><a href="#" onclick="logoutUser()">Logout</a></li>
            </ul>
        </nav>
    </header>
    <h1 align="center">Welcome to Lechero</h1>
    
    <div class="container">
        <div class="section-block" id="about-us">
          <h2>Hello,  {{ user.firstname }}</h2>
          <div class="company-description">
            <h3>Our Delivery Process</h3>
            <p><b>We offer a diverse selection of milk, categorized into three distinct types: regular milk, children's milk, and plant-based milk. Customers have the option to select their desired milk variant and add it to their cart for checkout. During the checkout process, customers are prompted to specify their preferred delivery time, ensuring convenience and timely service</p><br>
                <p>Our commitment to quality and safety is paramount. Our dedicated team of delivery personnel, whom we affectionately refer to as 'Lecheros', undergo rigorous training to ensure the safe and hygienic delivery of your order. Each delivery is meticulously handled to guarantee freshness and cleanliness.</p><br>
                <p>As a token of our appreciation for their service, our Lecheros utilize carts to transport your milk bottles to your doorstep. We kindly request customers to return the cart outside their residence for collection the following day, thereby facilitating a seamless delivery process for all.</p><br>
                <p>We extend our gratitude to our valued customers for their patronage and for maintaining a healthy relationship with our Lecheros. Rest assured, we remain steadfast in our commitment to delivering 'freshness at your doorstep' with every order.</p>          </div>
            </div>
        </div>
        
        <div class="section-block" id="regular-milk">
          <h2>Regular Milk</h2>
          <div class="company-description">
            <h3>Regular Milk: Freshness Straight from our own cattle</h3>
            
            
            
            <div class="product" id="cowmilk">
                <div class="product-name">
                <img src="{{ url_for('static', filename='css/cowmilk.png') }}" alt="Cow Milk">
                <h3>Cow Milk</h3>
                <p>Price: 80</p>
                <button onclick="addToCart('cowmilk')">Add to Cart</button>
                </div>
                <div class ="product-info">
                    <p> 
                        Indulge in the exquisite richness of our Jersey cow milk, meticulously crafted to perfection. With only 416 calories and boasting 12g of healthy fats, 48g of carbs, and 32g of protein per serving, it's a powerhouse of nutrition. Sourced from our finest Jersey cows, renowned for their creamy texture and superior quality, our milk promises a truly delightful experience in every sip. Elevate your mornings with the pure goodness of Jersey cow milk – a wholesome blend of flavor, nutrition, and indulgence. Experience the difference today and savor the taste of perfection.</p>
                </div>
            </div>
            
            <div class="product" id="buffalomilk">
                <div class ="product-name">
                <img src="{{ url_for('static', filename='css/buffalomilk.png') }}" alt="Product Image">
                <h3>Buffalo Milk</h3>
                <p>Price: 80</p>
                <button onclick="addToCart('buffalomilk')">Add to Cart</button>
                </div>
                    <div class ="product-info">
                        <p> Savor the exquisite richness of our Murrah buffalo milk, carefully nurtured for its unparalleled taste and nutrition. With a robust nutritional profile boasting 900 calories, 60g of fat, 42g of carbohydrates, and 44g of protein per liter, it's a true powerhouse of sustenance. Sourced from our prized Murrah buffaloes, renowned for their superior milk quality, our milk embodies purity and excellence. Elevate your daily routine with the creamy goodness of Murrah buffalo milk – a delightful fusion of tradition, health, and flavor in every sip. Experience the luxury of nourishment with every pour, redefining your dairy experience.
                        </p>
                    </div>
            </div>
          </div>
        </div>
        
        <div class="section-block" id="kids-milk">
          <h2>Kids Section</h2>
          <div class="company-description">
            <h3>Kids Section: Delightful and Nutritious Flavors for Little Ones</h3>
            
            
            <div class="product" id="chocolatemilk">
                <div class ="product-name">
                <img src="{{ url_for('static', filename='css/chocolatemilk.png') }}" alt="Product Image">
                <h3>Chocolate Milk</h3>
                <p>Price: 80</p>
                <button onclick="addToCart('chocolatemilk')">Add to Cart</button>
                </div>
                    <div class ="product-info">
                        <p> Indulge your little ones with the irresistible delight of our chocolate milk, specially crafted to bring joy to every sip. Perfect for kids, our decadent chocolate milk offers a delightful blend of flavor and nutrition, with each serving containing 700 calories, 20g of fat, 100g of carbohydrates, and 15g of protein per liter. Made with the finest ingredients and enriched with the goodness of cocoa, it's a wholesome treat that will brighten their day. Treat your kids to the creamy goodness of our chocolate milk – a delicious fusion of taste and nourishment that will leave them asking for more. Make every moment sweeter with our chocolate milk, the perfect companion for your little ones' adventures.
                        </p>
                    </div>
            </div>





            <div class="product" id="strawberrymilk">
                <div class ="product-name">
                <img src="{{ url_for('static', filename='css/strawberrymilk.png') }}" alt="Product Image">
                <h3>Strawberry Milk</h3>
                <p>Price: 80</p>
                <button onclick="addToCart('strawberrymilk')">Add to Cart</button>
                </div>
                    <div class ="product-info">
                        <p> Indulge in the delightful sweetness of our strawberry milk, crafted to satisfy your cravings with every sip. Specifically designed for those with a penchant for fruity flavors, our strawberry milk offers a delightful blend of taste and nutrition, with each serving containing 650 calories, 15g of fat, 90g of carbohydrates, and 12g of protein per liter. Made from the finest strawberries and premium milk, it's a refreshing treat that will invigorate your senses. Treat yourself to the creamy goodness of our strawberry milk – a luscious fusion of flavor and nourishment that will leave you refreshed and revitalized. Embrace the sweetness of life with our strawberry milk, the perfect indulgence for any occasion.


                            </p>
                    </div>
            </div>


            <div class="product" id="bananamilk">
                <div class ="product-name">
                <img src="{{ url_for('static', filename='css/bananamilk.png') }}" alt="Product Image">
                <h3>Banana Milk</h3>
                <p>Price: 80</p>
                <button onclick="addToCart('bananamilk')">Add to Cart</button>
                </div>
                    <div class ="product-info">
                        <p> Experience the smooth and creamy goodness of our banana milk, crafted to delight your taste buds with every sip. Tailored for those seeking a fruity twist, our banana milk offers a delightful blend of flavor and nutrition, with each serving providing 600 calories, 10g of fat, 80g of carbohydrates, and 10g of protein per liter. Created from premium bananas and fresh milk, it's a satisfying treat that will leave you feeling refreshed. Indulge in the rich and velvety texture of our banana milk – a delectable fusion of taste and nourishment that will transport you to tropical paradise. Embrace the sweetness of nature with our banana milk, the perfect choice for a creamy and satisfying beverage.</p>
                    </div>
            </div>
          </div>
        </div>
        
        <div class="section-block" id="plant-based">
          <h2>Plant Based</h2>
          <div class="company-description">
            <h3>Plant Based: Nourishing Alternatives for a Healthier Lifestyle</h3>
            
            <div class="product" id="oatmilk">
                <div class ="product-name">
                <img src="{{ url_for('static', filename='css/oatmilk.png') }}" alt="Product Image">
                <h3>Oat Milk</h3>
                <p>Price: 80</p>
                <button onclick="addToCart('oatmilk')">Add to Cart</button>
                </div>
                    <div class ="product-info">
                        <p> Delight in the creamy richness of our oat milk, carefully crafted to offer a wholesome and nutritious alternative. Made with a generous amount of oats, each serving of our oat milk contains the goodness of 200g of oats per liter, providing a comforting blend of flavor and nutrition. With a balanced nutritional profile, including 400 calories, 8g of fat, 60g of carbohydrates, and 10g of protein per liter, it's a nourishing choice for those seeking a dairy-free option. Savor the smooth and velvety texture of our oat milk – a satisfying fusion of taste and wellness that will leave you feeling energized and satisfied. Experience the goodness of oats in every sip with our oat milk, the perfect choice for a creamy and nutritious beverage.
                        </p>
                    </div>
            </div>

            <div class="product" id="cashewmilk">
                <div class ="product-name">
                <img src="{{ url_for('static', filename='css/cashewmilk.png') }}" alt="Product Image">
                <h3>Cashew Milk</h3>
                <p>Price: 80</p>
                <button onclick="addToCart('cashewmilk')">Add to Cart</button>
                </div>
                    <div class ="product-info">
                        <p> Experience the velvety smoothness of our cashew milk, thoughtfully crafted to offer a luxurious and indulgent dairy-free option. With a generous serving of cashews, each liter of our cashew milk contains the richness of 250g of cashews, providing a creamy texture and a burst of flavor. Packed with nourishing goodness, our cashew milk boasts a balanced nutritional profile, including 500 calories, 30g of fat, 40g of carbohydrates, and 10g of protein per liter. Indulge in the decadent taste and creamy consistency of our cashew milk – a delightful fusion of richness and nutrition that will leave you feeling satisfied and nourished. Elevate your beverage experience with our cashew milk, the perfect choice for those seeking a creamy and indulgent dairy-free alternative.
                        </p>
                    </div>
            </div>
            <div class="product" id="almondmilk">
                <div class ="product-name">
                <img src="{{ url_for('static', filename='css/almondmilk.png') }}" alt="Product Image">
                <h3>Almond Milk</h3>
                <p>Price: 80</p>
                <button onclick="addToCart('almondmilk')">Add to Cart</button>
                </div>
                    <div class ="product-info">
                        <p> Delight in the silky smoothness of our almond milk, meticulously crafted to provide a nourishing and satisfying dairy-free option. Each liter of our almond milk is infused with the goodness of 300g of almonds, offering a creamy texture and a delightful nutty flavor. With a balanced nutritional profile, our almond milk contains 450 calories, 25g of fat, 30g of carbohydrates, and 15g of protein per liter, providing a source of essential nutrients. Indulge in the luxurious taste and creamy consistency of our almond milk – a delightful fusion of richness and flavor that will invigorate your senses. Elevate your beverage experience with our almond milk, the perfect choice for those seeking a creamy and nutritious dairy-free alternative.
                        </p>
                    </div>
            </div>
          </div>
        </div>
        
    </div>
    <footer>
        <i class="fa fa-instagram icon" style="font-size:20px;color:black"></i>
        <i class="fa fa-facebook-square icon" style="font-size:20px;color:black"></i>
        <i class="fa fa-linkedin-square icon" style="font-size:20px;color:black"></i><br><br>
        <span id="copyright" style="font-size:16px;color:black">&copy; 2022</span>
      </footer>

</body>
</html>





</body>
</html>
